<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323335831463-3rdvab45kuvp687stvmj5fqrj6o3a5ck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323335831463-3rdvab45kuvp687stvmj5fqrj6o3a5ck</string>
	<key>API_KEY</key>
	<string>AIzaSyC1TDjtBFKb1xnpoq3degbKJV05QW54tt8</string>
	<key>GCM_SENDER_ID</key>
	<string>323335831463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>www.delgation.com.SalwatTimes</string>
	<key>PROJECT_ID</key>
	<string>prayerstimes-4ce00</string>
	<key>STORAGE_BUCKET</key>
	<string>prayerstimes-4ce00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323335831463:ios:31b34820f2a2c8f3bf0082</string>
</dict>
</plist>